.homepic {
  width: 80%;
  height: 80%;
}
  
  .cover {
    object-fit: cover;
    object-position: center; 
    overflow: -moz-hidden-unscrollable;
  }

  .imgContainer {
    display: flex;
    justify-content: center;
  }
  .imgAlign {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .btn-act {
    width: 250px;
    height: 40px;
    background-color: #5C4033;
    color: white;
    border: 1px white solid;
    border-radius: 10px;
    margin-right: 50px;
  }

  .btn-nonact {
    width: 250px;
    height: 40px;
    background-color: transparent;
    color: #5C4033;
    border: 1px #5C4033 solid;
    border-radius: 10px;
    margin-left: 50px;
  }

  .explore-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0px 20px 0px;
  }

  .cardAlign {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 90px;
  }

  .AboutInHome {
    text-align: center;
    align-items: center;
    margin: 75px 25vh 5vh 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

 .HomeAbt-btn {
  background-color: #5C4033;
  color: azure;
  margin: 15px;
  width: 250px;
}

.btn-link {
  color: white;
}