.m-card {
    display: flex;
    flex-direction: row;
    margin: 100px 100px 50px;
    background-color: #1E3706;
    color: white;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

.cover-img {
    height: 80%;
    width: 80%;
}

.right {
    float: right;
    margin-right: 15%;
}

.descriptionMain {
    padding: 15px;
    margin: 5px        ;
}


/* Sub Card */

.SubCard {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    padding: 25px;
    text-align: center;
    background-color: #1E3706;
    color: azure;
    height: 550px;
    border-radius: 10px;
    width: auto;
    margin: 10px;
}

.gold {
    color: gold;
}

.cardimg {
    width: 300px;
    height: auto;
    margin-bottom: 0px;
}

.title {
    font-weight: bolder;
    font-size: 24px;
    margin: auto;
}

.description {
    padding: 25px;
    font-size: 16px;
    float: inherit;
}