@import url('https://rsms.me/inter/inter.css');

body {
  overflow: hidden;
  background-color: antiquewhite;
  color: #5C4033;
}

.App {
  margin: 0px;
  padding: 0px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.formStyle {
  display: flex;
  flex-direction: row;
}

.imgContainer {
  width: 80%; 
  height: 80%;
}

.cover {
  /* width: 100%; 
  height: 100%;  */
  object-fit: cover;
  object-position: center; 
  overflow: -moz-hidden-unscrollable;
  width: 1000px;
  height: 800px;
  flex-shrink: 0;
  float: right;
}

.form {
  margin-left: 64px;
  margin-top: 64px;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  margin: 10px;
  margin-bottom: 0px;
  font-weight: bolder;
}

#heading {
  padding-left: 30px;
  margin: 0px;
  margin-bottom: 20px;
}

label {
  margin: 20px;
  font-size: 20px;
}

.inputbox {
  margin-left: 40px;
  height: 40px;
  border: 1px gray solid;
  border-radius: 10px;
  font-size: 16px;
  text-align: left;
  padding-left: 15px;
}

.submit-btn {
  margin-left: 40px;
  height: 40px;
  border: 1px white solid;
  border-radius: 10px;
  background-color: #5C4033;
  color: white;
  cursor: pointer;
}

.submit-btn:disabled {
  margin-left: 40px;
  height: 40px;
  border: 1px white solid;
  border-radius: 10px;
  background-color: gray;
  color: white;
}

.checkbox-btn {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}

.terms {
  margin-left: 10px;
}

.check {
  background-color: lightgreen;
}

span {
  color: #750E21;
  text-decoration: underline;
}

button {
  margin-left: 24%;
  margin-top: 20px;
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
