@import url('https://rsms.me/inter/inter.css');

body {
  background-color: #F8F1E7;
  color: #3D2B1F;
  /* overflow: hidden; */
}

.App {
  margin: 0px;
  padding: 0px;
}

NavLink  {
  text-decoration: 'none';
  color: #3D2B1F;
}

.footLink {
  color: #3D2B1F;
  text-decoration: none;
  margin: 1em;
  padding-top: 25px;
  padding-right: 15px;
  padding-left: 15px;
}

.Navigations {
  margin: 1em;
}

.NavLinks {
  display: flex;
  flex-direction: row;
  margin-left: 5vh;
  justify-content: center;
}

.LogoLink {
  margin: 1em;
  padding-right: 5px;
  padding-left: 5px;
}

.footerDiv {
  display: flex;
  flex-direction: row;
  padding-left: 10vh;
  padding-right: 10vh;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  background-color: white;
}

.Navigations {
  display: flex;
  flex-direction: row;
}




/* NavBar */

.NavBar-Container {
  height: 10vh;
  background-color: #F8F1E7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo {
  margin-left: 25px;
}

.NavigationsBar {
  display: flex;
  flex-direction: row;
  margin: 2em;
}

.btn {
  height: 4vh;
  width: 75px;
  background-color: #3D2B1F;
  border-radius: 10px;
  text-align: center;
}

.whitePara {
  color: azure;
  margin: 0px;
}