@import url('https://rsms.me/inter/inter.css');

body {
  overflow: hidden;
  background-color: #F8F1E7;
  color: #3D2B1F;
}

.App {
  margin: 0px;
  padding: 0px;
}

Link {
  text-decoration: none;
}
